<div class="col-md-4 shadow">
    <h1>{{ program.name }}</h1>
    <p>{{ program.description }}</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Genre</th>
        </tr>
        </thead>
        <tbody>
        {% for program in program.programs %}
            {% if program.date|date('Y-m-d') == date()|date('Y-m-d') %}
                <tr class="{% if program.time|date('H') == date()|date('H') %} bg-success text-white{% endif %}">
                    <th scope="row">{{ program.time|date('H:i') }}</th>
                    <td>{{ program.name }}</td>
                    <td>{{ program.description }}</td>
                    <td>
                        {% for genre in program.genres %}
                            {{ genre.name }}
                        {% endfor %}
                    </td>

                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>