{% extends 'base.html.twig' %}

{% block title %}Hello detail!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include 'include/table.html.twig' with {'program': program } %}
        </div>
    </div>
{% endblock %}
