{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for item in program %}
                {% include 'include/table.html.twig' with {'program': item } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
